.navbar-brand,.nav-link {
  font-weight: bold;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header-btn {
  margin-top: 50px;
  padding-bottom: 50px;
}
.header-box-details {
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.header-box-icons {
  font-size: 48px;
  color: darkviolet;
}
.header-box-text {
  font-size: 12px;
  margin-top: -15px;
}
#card-div {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(114, 79, 79, 0.05) 0px 0px 0px 1px inset;
}
.card-img-top {
  height: 150px;
}
.see-more {
  border-radius: 20px;
  padding: 2px 15px;
}
.contribution-box {
  background-color: darkviolet;
  color: white;
  margin-top: 80px;
  padding: 100px 5px;
}

.carousel-box {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 0px;
  margin-top: 80px;
}
.carousel-item-box {
  padding: 50px 50px;
  background-color: pink;
}
.carousel-box-img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
#footer {
  margin-top: 150px;
  padding: 100px 0px;
  color: white;
}
